<section class="meetups">
	<h2><%= meetup.name %></h2>

	<h3>Location</h3>
	<%= meetup.address %>
	<%= "#{meetup.city}, #{meetup.state} #{meetup.zip}" %>

	<h3>Date and Time</h3>
	<p><strong>Starts At </strong><%= meetup.starts_at %></p> 
	<p><strong>Ends At </strong><%= meetup.ends_at %></p> 

	<h3>Description</h3>
	<p><%= meetup.description %></p>

	<p class='actions'>
		<%= link_to 'Show', meetup, class:'btn'%>
		<%= link_to 'Delete', meetup, method: :delete, class:'btn btn-danger' %>
	</p>
</section>
