<%= form_for @user do |f| %>
	<% if @user.errors.any? || @profile.errors.any? %>
		<ul>
			<% [@profile, @user].each do |resource| %>
				<% resource.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<%end%>
			<%end%>
		</ul>
	<%end%>
	<%= fields_for @profile do |field| %>
		<div>
			<%= field.label :name %>
			<%= field.text_field :name %>
		</div>
		<div>
			<%= field.label :age %>
			<%= field.text_field :age %>
		</div>
	<%end%>	
	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>	
	<div>
		<%= f.submit class: 'btn btn-primary' %>
		<%= link_to 'Cancel', root_path, class: "btn" %>
	</div>
<%end%>